*{
    margin: 0;
}
.container{
    padding: 0 10px;
    width: 300px;
    max-height: 400px;
    overflow-y: scroll;
    scrollbar-width: 10px;
}
.container::-webkit-scrollbar{
    display: none;
}
#currentVideoSave{
    margin: 15px 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
#itemContainer{
    margin: 15px 0;
}
#itemContainer article{
    margin: 10px 0;
    display: flex;
    padding: 15px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3); 
    border-radius: 25px;
    transition: 2s ease-out;
}
#itemContainer article div{
    width: 50%;
}
#itemContainer article div:not(:first-child){
    display: flex;
    justify-content: end;
    align-items: center;
}
.stamp{
    font-weight: bold;
}
.deleteBtn{
    background: rgb(202, 40, 40);
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
}
.deleteBtn:active{
    padding: 0px;
}
.deleteBtn svg{
    width: 20px;
    height: 20px;
}
