* {
  margin: 0;
  height: fit-content;
}
/* Popup Container */
.container {
  padding: 0 10px;
  width: 300px;
  height: fit-content;
  max-height: 600px;
  overflow-y: scroll;
  background: var(--background);
}
.container::-webkit-scrollbar {
  display: none;
}

/* Custom Scroll Bar */
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: var(--background);
}
::-webkit-scrollbar-thumb{
  background: var(--foreground);
  border-radius: 25px;
}

/* Header */
.header {
  margin: 15px 0;
}
.deleteAll{
  background: var(--delete-all-background);
  border: 1px solid var(--red);
  border-radius: 7px;
  gap: 3px;
  font-size: 12px;
  color: var(--red);
}
.deleteAll:hover {
  background: rgb(250, 194, 194, 0.5);
  color: var(--light-red);
  border: 1px solid var(--light-red);
}
.deleteAll svg path {
  stroke: var(--red);
}
.deleteAll:hover svg path {
  stroke: var(--light-red);
}
#currentVideoSave p {
  font-size: 0.75rem;
}

/* Display Current Playing Video */
.currentVideoContainer {
  width: 100%;
  height: fit-content;
  max-height: 150px;
  border-radius: 10px;
  background: var(--current-video-container);
}
.redDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--red);
  animation: blink 1s infinite alternate;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

/* Search Input Element */
.searchInputContainer {
  width: calc(100%-5px);
  padding: 5px;
  border: 1px solid var(--foreground);
  border-radius: 25px;
  margin: 15px 0;
}
.searchInputContainer:focus-within {
  border-color: var(--background);
}
#search {
  width: 83%;
  outline: none;
  border: none;
}
#searchIcon {
  width: 17%;
  padding: 0 5px;
}

/* Search Container */
#searchContainer {
  width: calc(100% - 5px);
  display: none;
}

/* Item Card */
.itemsView {
  height: 250px;
  overflow-y: scroll;
  margin-bottom: 15px;
}
#itemContainer {
  width: calc(100% - 5px);
  margin: 15px 0;
}
.item {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 10px;
  box-shadow: 1px 2px 5px var(--box-shadows);
  border-radius: 15px;
  transition: 2s ease-out;
  background-color: var(--item-background);
}
.itemRecord {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.timeStamp {
  width: fit-content;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--timeStamp-background);
  color: var(--timeStamp-text-color);
}
.itemBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.playBtn {
  background: none;
  border: none;
}
.playBtn:hover {
  background: var(--playBtn-hover);
  color: rgb(255, 255, 255);
}
.deleteSVG path {
  stroke: black;
  stroke-width: 1.5px;
}
.deleteBtn svg,
.playBtn svg {
  width: 15px;
  height: 15px;
  fill: none;
  stroke: #000;
  stroke-width: 12;
}
.deleteBtn:active svg path,
.playBtn:active svg path {
  stroke: transparent;
  stroke-width: 0px;
}

/* Pagination */
#pagination {
  display: none;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
  width: 100%;
}
.pageBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: none;
  cursor: pointer;
}
#pagination button {
  flex-grow: 1;
  color: black;
}
